
@{
    ViewBag.Title = "Productos";
}

<div class="contenedor-nav">
    @{Html.RenderAction("Appbar", "Home");}
    <div class="contenedor">
        <button onclick="mostrarModalAgregar()" class="btn boton-flotante btn-dark"><i class="bi bi-plus"></i></button>
        <div class="d-flex justify-content-between">
            <h1 style="text-align: start">@ViewBag.Title</h1>
            <button onclick="incrementarPrecio()" class="btn btn-primary">Incrementar el valor</button>
        </div>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Familia</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="tabla-body"></tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="Modal_Agregar_Producto" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formVendedor">
                    <div class="mb-3">
                        <label for="CodProd" class="form-label">Codigo</label>
                        <input type="text" class="form-control" id="CodProd" name="CodProd">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="Precio" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="Precio" name="Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="Familia" class="form-label">Familia</label>
                        <select class="form-select" id="Familia">
                            <option value="Hardware">Hardware</option>
                            <option value="Software">Software</option>
                            <option value="Servicios">Servicios</option>
                        </select>
                    </div>
                    
                    <button type="submit" id="btn-accion" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="toast" style="position: absolute; bottom: 10px; right: 10px" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body" id="text-toast"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<script>
    const mostrarModalAgregar = () => {
        $('#CodProd').val("");
        $('#Nombre').val("");
        $('#Precio').val("");
        $('#CodProd').prop("readonly", false);
        $('#btn-accion').text('Agregar');
        $('#Modal_Agregar_Producto').modal('show');
    }

    const mostrarModalEditar = (CodProd, Nombre, Precio, Familia) => {
        $('#CodProd').val(CodProd.trim());
        $('#CodProd').prop("readonly", true);
        $('#Nombre').val(Nombre);
        $('#Precio').val(Precio);
        $('#Familia').val(Familia)

        $('#btn-accion').text('Editar');
        $('#Modal_Agregar_Producto').modal('show');
    }

    const incrementarPrecio = () => {
        $.ajax({
            url: '/Producto/Incrementar',
            type: 'POST',
            success: function (data) {
                console.log(data)
                if (data.error) {
                    mostrarToast('Ha ocurrido un error', 'danger');
                    console.log(data.text);
                    return;
                }
                obteneProductos();
                mostrarToast(`Se ha incrementado correctamente`, 'success');
            },
            error: function (error) {
                mostrarToast('Ha ocurrido un error', 'danger');
            }
        });
    }

    $('#formVendedor').submit(function (event) {
        event.preventDefault();
        const form = $(this);

        const accion = $('#btn-accion').text();

        const url = accion == 'Agregar' ? '/Producto/Create' : '/Producto/Edit';

        const datos = {
            CodProd: $('#CodProd').val().trim(),
            Nombre: $('#Nombre').val().trim(),
            Precio: $('#Precio').val().trim(),
            Familia: $('#Familia').val()
        }

        $.ajax({
            url: url,
            type: 'POST',
            data: datos,
            success: function (data) {
                if (data.error) {
                    mostrarToast('Ha ocurrido un error', 'danger');
                    return;
                }
                obteneProductos();
                $('#Modal_Agregar_Producto').modal('hide');
                mostrarToast(`${accion == 'Agregar' ? 'Agregado' : 'Editado'} correctamente`, 'success');
            },
            error: function (error) {
                mostrarToast('Ha ocurrido un error', 'danger');
            }
        });
    });

    const mostrarToast = (mensaje, tipo) => {
        $('#text-toast').text(mensaje);
        $('.toast').addClass(`align-items-center border-0 text-bg-${tipo}`);
        $('.toast').toast('show');
    }

    $(document).ready(function () {
        seleccionarIcono('icon-producto');
        obteneProductos();
    });

    const obteneProductos = () => {
        $.get('/Producto/GetProductos', function (data) {
            console.log(data);
            $('#tabla-body').text('');
            data.forEach((item, index) => {
                $('#tabla-body').append(`
                    <tr>
                        <th scope="row">${index + 1}</th>
                        <td>${item.CodProd}</td>
                        <td>${item.Nombre}</td>
                        <td>${item.Familia}</td>
                        <td>${new Intl.NumberFormat('es-CO', {style: 'currency', currency: 'COP', minimumFractionDigits: 0, maximumFractionDigits: 2 }).format(item.Precio)}</td>
                        <td>
                            <button onclick="mostrarModalEditar('${item.CodProd}','${item.Nombre}', '${item.Precio}','${item.Familia}')" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
                        </td>
                    </tr>
                `);
            });
        })
        .fail(function (error) {
            mostrarToast('Ha ocurrido un error', 'danger');
        });
    }
</script>
