
@{
    ViewBag.Title = "Productos";
}

<style>
    .boton-flotante {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 60px;
        height: 60px;
        color: white;
        background: black;
    }

    .boton-flotante:hover {
        background: #1E1E1E;
        color: white;
    }
</style>

<div class="contenedor-nav">
    @{Html.RenderAction("Appbar", "Home");}
    <div class="contenedor">
        <button onclick="mostrarModalAgregar()" class="btn boton-flotante"><i class="bi bi-plus"></i></button>
        <h1 style="text-align: start">@ViewBag.Title</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Codigo</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Familia</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="tabla-body"></tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="Modal_Agregar_Vendedor" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formVendedor">
                    <div class="mb-3">
                        <label for="documento" class="form-label">Codigo</label>
                        <input type="number" class="form-control" id="CodVend" name="CodVend">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Precio</label>
                        <input type="text" class="form-control" id="Nombre" name="Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Familia</label>
                        <select class="form-select">
                            <option value="Hardware">Hardware</option>
                            <option value="Software">Software</option>
                            <option value="Servicios">Servicios</option>
                        </select>
                    </div>
                    
                    <button type="submit" id="btn-accion" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="toast" style="position: absolute; bottom: 10px; right: 10px" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body" id="text-toast"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

<script>
    const mostrarModalAgregar = () => {
        $('#CodVend').val("");
        $('#Nombre').val("");
        $('#Estado').prop("checked", true);
        $('#CodVend').prop("readonly", false);
        $('#btn-accion').text('Agregar');
        $('#Modal_Agregar_Vendedor').modal('show');
    }

    const mostrarModalEditar = (codVend, nombre, estado) => {
        console.log('editar', codVend, nombre, estado);
        $('#CodVend').val(codVend.trim());
        $('#CodVend').prop("readonly", true);
        $('#Nombre').val(nombre);
        $('#Estado').prop("checked", estado.trim() == 'activo');
        $('#btn-accion').text('Editar');
        $('#Modal_Agregar_Vendedor').modal('show');
    }

    $('#formVendedor').submit(function (event) {
        event.preventDefault();
        const form = $(this);

        const accion = $('#btn-accion').text();

        const url = accion == 'Agregar' ? '/Vendedor/Create' : '/Vendedor/Edit';

        $.ajax({
            url: url,
            type: 'POST',
            data: form.serialize(),
            success: function (data) {
                if (data.error) {
                    mostrarToast('Ha ocurrido un error', 'danger');
                    return;
                }
                obtenerVendedores();
                $('#Modal_Agregar_Vendedor').modal('hide');
                mostrarToast(`${accion == 'Agregar'?'Agregado':'Editado'} correctamente`, 'success');
            },
            error: function (error) {
                mostrarToast('Ha ocurrido un error', 'danger');
            }
        });
    });

    const mostrarToast = (mensaje, tipo) => {
        $('#text-toast').text(mensaje);
        $('.toast').addClass(`align-items-center border-0 text-bg-${tipo}`);
        $('.toast').toast('show');
    }

    $(document).ready(function () {
        obtenerVendedores();
    });

    const obtenerVendedores = () => {
        $.get('/Producto/GetProductos', function (data) {
            console.log(data);
            $('#tabla-body').text('');
            data.forEach((item, index) => {
                $('#tabla-body').append(`
                    <tr>
                        <th scope="row">${index + 1}</th>
                        <td>${item.CodProd}</td>
                        <td>${item.Nombre}</td>
                        <td>${item.Familia}</td>
                        <td>${item.Precio}</td>
                        <td>
                            <button onclick="mostrarModalEditar('${item.CodVend}', '${item.Nombre}', '${item.Estado}')" class="btn btn-primary"><i class="bi bi-pencil-square"></i></button>
                        </td>
                    </tr>
                `);
            });
        })
        .fail(function (error) {
            mostrarToast('Ha ocurrido un error', 'danger');
        });
    }
</script>
